body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #000;
}

header {
    background-color: #f5f5f5;
    padding: 20px 0;
    border-bottom: 1px solid #000;
    text-align: center;
}

.header-left p {
    margin: 0;
    font-size: 14px;
    color: #000;
    text-align: left;
    margin-left: 20px;
}

nav {
    margin: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 40px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s, text-decoration 0.3s;
}

nav ul li a:hover,
nav ul li a.active {
    color: #000;
    text-decoration: underline;
}

.hero-title h1 {
    font-size: 60px;
    font-weight: bold;
    color: #000;
    margin: 0;
    padding: 10px 0;
}

.about-me {
    display: flex;
    justify-content: center;
    margin: 50px auto;
    max-width: 1000px;
    padding: 0 20px;
}

.large-card {
    background-color: #fff;
    border: 1px solid #000;
    padding: 40px;
    flex: 1;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    text-align: left;
}

.large-card h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

.large-card h3 {
    font-size: 18px;
    margin-bottom: 20px;
}

.large-card p {
    font-size: 16px;
    margin: 10px 0;
}

.large-card button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #000;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.large-card button:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}

.case-studies {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 50px auto;
    max-width: 1000px;
    padding: 0 20px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #e6e6e6;
    border: 1px solid #000;
    padding: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    width: 48%;
}

.case-image {
    width: 100%;
    height: 150px;
    background-color: #4577b5;
    margin-bottom: 20px;
}

.card h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
    margin: 0;
}
